@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.list{
    @include m.flexibility(row,space-between,center);
    gap: calcOutValue(12);
    flex-wrap: wrap;
    padding: calcOutValue(20);
    padding-top: 0;
    
}

.element{
    width: calc((100% - calcOutValue(36)) / 4);
    background-color: v.$dark-1-c;
    padding: calcOutValue(12);
    padding-bottom: 0;
    border-radius: 4px;
}

.element:nth-child(even){
    .content{
        color: v.$green-4-c;
    }
}

.title{
    @include m.text-character(calcOutValue(14), calcOutValue(20), v.$light-1-c);
    text-transform: capitalize;
    margin-bottom: calcOutValue(4);
    &::before{
        content: '';
        display: block;
        width: calcOutValue(16);
        height: calcOutValue(2);
        background-color: v.$light-1-c;
        border-radius: calcOutValue(20);
        margin-bottom: calcOutValue(8);
    }
}

.content{
    @include m.text-character(calcOutValue(60), calcOutValue(60), v.$light-3-c);
    font-weight: 600;
    text-align: end;
}