@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.row{
    background-color: v.$light-1-c;
    border-radius: 4px;
    height: calcOutValue(56);
    &:not(:last-child){
        border-bottom: calcOutValue(8) solid v.$light-4-c;
    }
}

.category-window{
    vertical-align: middle;
}

.category-content{
    @include m.flexibility(row,flex-start,center);
    gap: calcOutValue(12);
    font-size:calcOutValue(12);
    line-height: calcOutValue(16);
    font-weight: 500;
    text-transform: capitalize;

    &::before{
        content: '';
        display: block;
        width: calcOutValue(4);
        height: calcOutValue(56);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.category-active{
    color: v.$green-3-c;

    &::before{
        background-color: v.$green-3-c;
    }
}

.category-not-active {
    color: v.$red-3-c;

    &::before {
        background-color: v.$red-3-c;
    }
}

.category-pending {
    color: v.$orange-1-c;

    &::before {
        background-color: v.$orange-1-c;
    }
}

.category-suspended {
    color: v.$blue-3-c;

    &::before {
        background-color: v.$blue-3-c;
    }
}

.name-window{
    vertical-align: middle;
    div{
        @include m.flexibility(row,flex-start,center);
        @include m.text-character(calcOutValue(14), calcOutValue(20), v.$dark-1-c);
        font-weight: 500;
        height: 100%;
        column-gap: calcOutValue(16);
    }
    

    img{
        width: calcOutValue(32);
        height: calcOutValue(32);
    }
}

.status-window{
    vertical-align: middle;
    display: flex;
    padding: calcOutValue(14);
    align-items: center;
    justify-content: center;
}

.status-content{
    @include m.flexibility(row,center,center);
    column-gap: calcOutValue(8);
    font-size: calcOutValue(14);
    line-height: calcOutValue(20);
    font-weight: 500;
    height: 100%;
    text-transform: capitalize;
    padding: calcOutValue(4) calcOutValue(14);
    border-radius: calcOutValue(28);
    width: auto;
    &::before{
        display: block;
        content: '';
        width: calcOutValue(4);
        height: calcOutValue(4);
        border-radius: 50%;
    }
}

.status-active{
    background-color: v.$green-1-c;
    color: v.$green-2-c;
    &::before{
        background-color: v.$green-2-c;
    }
}

.status-not-active {
    background-color: v.$red-1-c;
    color: v.$red-2-c;

    &::before {
        background-color: v.$red-2-c;
    }
}

.status-pending {
    background-color: v.$orange-2-c;
    color: v.$orange-3-c;

    &::before {
        background-color: v.$orange-3-c;
    }
}

.status-suspended {
    background-color: v.$blue-2-c;
    color: v.$blue-1-c;

    &::before {
        background-color: v.$blue-1-c;
    }
}

.promotion-window{
    vertical-align: middle;
}

.promotion-content{
    @include m.flexibility(row,center,center);
    gap: calcOutValue(6);

    .promotion-yes{
        @include m.text-character(calcOutValue(14), calcOutValue(20), v.$green-2-c);
        font-weight: 500;
    }

    .promotion-no{
        @include m.text-character(calcOutValue(14), calcOutValue(20), v.$red-2-c);
        font-weight: 500;
    }

    img{
        width: calcOutValue(16);
        height: calcOutValue(16);
    }
}

.country-window{
    vertical-align: middle;
    @include m.text-character(calcOutValue(14), calcOutValue(20), v.$dark-1-c);
    font-weight: 500;
    text-align: center;
}

.date-window{
    vertical-align: middle;
    @include m.text-character(calcOutValue(14), calcOutValue(20), v.$dark-1-c);
    font-weight: 500;
    text-align: center;
}