@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper{
    height: 100%;
    padding: calcOutValue(32) calcOutValue(40) calcOutValue(56) calcOutValue(40);
    background-color: v.$light-4-c;
}

.header-title{
    @include m.text-character(calcOutValue(14), calcOutValue(20), v.$dark-1-c);
    font-weight: 300;
    width: calc(100% / 6);
    padding-bottom: calcOutValue(20);
    &:nth-child(-n+2){
        text-align: start;
    }
}

.table{
    width: 100%;
}