@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper {
    width: 100%;
}

.company-title {
    @include m.text-character(calcOutValue(12), calcOutValue(16), v.$light-5-c);
    background-color: v.$dark-1-c;
    padding: calcOutValue(6) calcOutValue(20);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: start;
}

.name-title {
    @include m.text-character(calcOutValue(12), calcOutValue(16), v.$dark-1-c);
    background-color: v.$light-3-c;
    padding: calcOutValue(6) calcOutValue(20);
    width: calcOutValue(180);
}

.percent-title {
    @include m.text-character(calcOutValue(12), calcOutValue(16), v.$dark-1-c);
    background-color: v.$green-4-c;
    padding: calcOutValue(6) calcOutValue(20);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: calcOutValue(104);
}