// Colors
$light-1-c: #FAFAFA;
$light-2-c: #F9FAFB;
$light-3-c:#E9D5FF;
$light-4-c:#F3F4F6;
$light-5-c: #FFFFFF;

$grey-1-c:#D1D5DB;
$grey-2-c: #D9D9D9;
$grey-3-c: #637381;
$grey-4-c: #6B7280;

$green-1-c: #DCFCE7;
$green-2-c: #15803D;
$green-3-c: #34D399;
$green-4-c: #D9F99D;

$red-1-c: #FEE2E2;
$red-2-c: #B91C1C;
$red-3-c:#FB7185;

$orange-1-c: #FB923C;
$orange-2-c: #FFEDD5;
$orange-3-c: #C2410C;

$violet-1-c: #C084FC;

$blue-1-c: #1D4ED8;
$blue-2-c: #DBEAFE;
$blue-3-c: #60A5FA;

$dark-1-c: #111827;
$dark-2-c:#0F172A;
